<ng-template #progress>
  <progress-component></progress-component>
</ng-template>

<div *ngIf="data$ | async as data; else progress">
  <div *ngIf="data.error; then error else content"></div>
  <ng-template #error>
    <app-error [message]="data.error"></app-error>
  </ng-template>

  <ng-template #content>
    <title-component title="Список событий пользователя {{userName}} ({{realmName}})"></title-component>
    <div *ngIf="data$ | async as data" class="test-data-div">
      <table class="table table-hover">
        <thead>
        <tr class="table-primary unselectable sticky-top">
          <th scope="col">Создано</th>
          <th scope="col">Комментарий</th>
          <th scope="col">Автор</th>
          <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of data.payload.content"
            class="{{ event.enabled ? 'table-success' : 'table-danger' }}"
            id="{{event.created}}"
        >
          <th><span>{{ event.created != 0 ? (event.created | date : dateFormat) : '' }}</span></th>
          <td><span>{{ event.comment }}</span></td>
          <td><span>{{ event.admLogin }}</span></td>
          <td>
            <span *ngIf="event.enabled" class="badge text-bg-success">Включен</span>
            <span *ngIf="!event.enabled" class="badge text-bg-danger">Заблокирован</span>
          </td>
        </tr>
        </tbody>
      </table>
      <pager-component
        [number]="data.payload.number"
        [size]="data.payload.size"
        [totalPages]="data.payload.totalPages"
        [totalElements]="data.payload.totalElements"
        [filter]="data.filter"
      ></pager-component>
    </div>
  </ng-template>
</div>

