<div>
  <title-component title="Список авторизаций пользователя {{userName}}"></title-component>
  <div *ngIf="dataLoader.getData() as data" class="test-data-div">
    <table class="table table-hover">
      <thead>
      <tr class="table-primary unselectable sticky-top">
        <th scope="col">Время</th>
        <th scope="col">Сессия</th>
        <th scope="col">Адрес</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of data.payload.content"
          class="table-success"
          id="{{event.authTime}}"
      >
        <th><span>{{ event.authTime != 0 ? (event.authTime | date : dateFormat) : '' }}</span></th>
        <td><span>{{ event.session }}</span></td>
        <td><span>{{ event.address }}</span></td>
      </tr>
      </tbody>
    </table>
    <pager-component [pageLoader]=dataLoader></pager-component>
  </div>
  <div *ngIf="dataLoader.getError() as error" class="test-error-div">{{ error }}</div>
  <progress-component *ngIf="!dataLoader.getData() && !dataLoader.getError()" class="test-progress"></progress-component>
</div>

