<ng-template #progress>
  <progress-component></progress-component>
</ng-template>

<div *ngIf="data$ | async as data; else progress">
  <div *ngIf="data.error; then error else content"></div>
  <ng-template #error>
    <app-error [message]="data.error"></app-error>
  </ng-template>

  <ng-template #content>
    <title-component title="Список авторизаций пользователя {{userName}}"></title-component>
    <div *ngIf="data$ | async as data" class="test-data-div">

      <table-component [data]="data" [columns]="columns" [pagerSkipLocationChange]="true"></table-component>

    </div>
  </ng-template>
</div>

