<div class="sticky-bottom">
  <div class="hstack">
    <nav *ngIf="totalPages > 1" class="test-page-select">
      <ul class="pagination ">
        <li class="page-item">
          <a class="{{number == 0 ? 'page-link disabled' : 'page-link'}} test-previous-link"
             [ngStyle]="{'cursor': 'pointer'}" routerLink="."
             [skipLocationChange]="skipLocationChange"
             [queryParams]="{size: size, page: number-1, filter: filter ? filter : undefined}">Пред</a>
        </li>

        <div *ngFor="let counter of [].constructor(totalPages);  let i = index">
          <li class="{{i == number ? 'page-item active' : 'page-item'}} test-pagenumber-{{i}}"
              *ngIf="i<5 || i>totalPages-5 || (i>3 && i<totalPages-3 && i>number-2 && i<number+2)">
            <a
              class="page-link" [ngStyle]="{'cursor': 'pointer'}" routerLink="."
              [skipLocationChange]="skipLocationChange"
              [queryParams]="{size: size, page: i, filter: filter ? filter : undefined}">{{ i + 1 }}</a>
          </li>
        </div>

        <li class="page-item">
          <a
            class="{{number == totalPages-1 ? 'page-link disabled' : 'page-link'}} test-next-link"
            [ngStyle]="{'cursor': 'pointer'}"
            routerLink="."
            [skipLocationChange]="skipLocationChange"
            [queryParams]="{size: size, page: number+1, filter: filter ? filter : undefined}">Далее</a>
        </li>
      </ul>
    </nav>
    <nav *ngIf="totalElements > 10" class="ms-auto test-items-count">
      <ul class="pagination">
        <li class="{{count == size ? 'page-item active' : 'page-item'}} test-count-{{count}}"
            *ngFor="let count of [10, 20, 30]">
          <a class="page-link" [ngStyle]="{'cursor': 'pointer'}" routerLink="."
             [skipLocationChange]="skipLocationChange"
             [queryParams]="{size: count, page: 0, filter: filter ? filter : undefined}">{{ count }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
