<ng-template #progress>
  <progress-component></progress-component>
</ng-template>

<div *ngIf="data$ | async as data; else progress">
  <div *ngIf="data.error; then error else content"></div>

  <ng-template #error>
    <app-error [message]="data.error"></app-error>
  </ng-template>

  <ng-template #content>
    <title-component title="Список&nbsp;пользователей" [back]=false>
      <div class="d-flex">
        <form [formGroup]="form" (ngSubmit)="onSearchSubmit()" class="input-group" method="get" role="search"
              *ngIf="!filter">
          <input class="form-control" name="filter" maxlength="20"
                 placeholder="Поиск" type="search" formControlName="filter">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        <div *ngIf="filter" class="input-group">
          <span class="input-group-text">Поиск</span>
          <span class="input-group-text">{{ filter }}</span>
          <button class="btn btn-outline-success" (click)="onSearchDismiss()">Сброс</button>
        </div>
        <button class="btn btn-outline-primary"
                routerLink="logins/{{data.principal.userName}}">История&nbsp;авторизаций
        </button>
      </div>
    </title-component>

    <table-component [data]="data" [columns]="columns"></table-component>

  </ng-template>
</div>

