<ng-template #progress>
  <progress-component></progress-component>
</ng-template>

<div *ngIf="data$ | async as data; else progress">
  <div *ngIf="data.error; then error else content"></div>

  <ng-template #error>
    <app-error [message]="data.error"></app-error>
  </ng-template>

  <ng-template #content>
    <title-component title="Список&nbsp;пользователей" [back]=false>
      <div class="d-flex">
        <form (ngSubmit)="onSearchSubmit()" class="input-group" method="get" role="search" *ngIf="!submitted">
          <input aria-label="Search" class="form-control" name="filter" maxlength="20"
                 placeholder="Поиск" type="search" [(ngModel)]="filter">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        <form (ngSubmit)="onSearchDismiss()" *ngIf="submitted" class="input-group" method="get" role="search">
          <span class="input-group-text">Поиск</span>
          <span class="input-group-text">{{ filter }}</span>
          <button class="btn btn-outline-success" type="submit">Сброс</button>
        </form>
        <button aria-current="page" class="btn btn-outline-primary"
                routerLink="logins/{{data.principal.userName}}">История&nbsp;авторизаций
        </button>
      </div>
    </title-component>

    <div class="test-data-div">
      <table class="table table-hover">
        <thead>
        <tr class="table-primary unselectable sticky-top">
          <th scope="col">Пользователь</th>
          <th scope="col">Рилм</th>
          <th scope="col">Идентификатор</th>
          <th scope="col">Создан</th>
          <th scope="col">Последний&nbsp;логин</th>
          <th scope="col">Комментарий</th>
          <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of data.payload.content" [ngStyle]="{'cursor': 'pointer'}"
            class="{{ user.enabled ? (user.manuallyEnabledTime == null ? 'table-success' : 'table-warning') : 'table-danger' }}"
            id="{{user.userId}}" routerLink="{{user.realmName}}/{{user.userName}}"
        >
          <th><span>{{ user.userName }}</span></th>
          <td><span>{{ user.realmName }}</span></td>
          <td><span>{{ user.userId }}</span></td>
          <td><span>{{ user.created != 0 ? (user.created | date : dateFormat) : '' }}</span></td>
          <td><span>{{ user.lastLogin != 0 ? (user.lastLogin | date : dateFormat) : '' }}</span></td>
          <td><span>{{ user.comment }}</span></td>
          <td>
            <span *ngIf="user.enabled" class="badge text-bg-success">Включен</span>
            <span *ngIf="!user.enabled" class="badge text-bg-danger">Заблокирован</span>
          </td>
        </tr>
        </tbody>
      </table>
      <pager-component
        [number]="data.payload.number"
        [size]="data.payload.size"
        [totalPages]="data.payload.totalPages"
        [totalElements]="data.payload.totalElements"
        [filter]="data.filter"
        [skipLocationChange]="false"
      ></pager-component>
    </div>
  </ng-template>
</div>

